workspaces/auto-resume-tailoring-assistant/core.json
{
  "name": "Auto Resume Tailoring Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {},
      "id": "trigger-form",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let jd = '';\nif ($node['Telegram Trigger']) {\n  jd = $node['Telegram Trigger'].json.message?.text || '';\n} \nif (!jd && $node['Manual Trigger']) {\n  // If manual trigger has mock data or if user put fields in it\n  jd = $json.job_description || $node['Manual Trigger'].json.job_description || 'Masukkan Job Description di Mock Data Manual Trigger';\n}\nreturn { json: { job_description: jd } };"
      },
      "id": "standardize-input",
      "name": "Extract Job Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"{{ $json.job_description }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "retrieve-embedding",
      "name": "Get Embedding (Search)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/resume_projects/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding.values) }},\n  \"limit\": 3,\n  \"with_payload\": true\n}",
        "options": {}
      },
      "id": "retrieve-qdrant",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $json.result || [];\nconst context = result.map(hit => `Project: ${hit.payload.title}\\nStack: ${(hit.payload.stack||[]).join(', ')}\\nBullets:\\n- ${(hit.payload.bullets||[]).join('\\n- ')}`).join('\\n\\n---\\n\\n');\nreturn { json: { context: context || \"No projects found.\", job_description: $('Extract Job Description').first().json.job_description } };"
      },
      "id": "format-context",
      "name": "Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Tugas Anda adalah menulis ulang CV (Resume) profesional untuk disesuaikan dengan lowongan kerja (Job Description) berikut:\n\n{{ $json.job_description }}\n\nReferensi Proyek Anda yang Paling Relevan (RAG):\n{{ $json.context }}\n\nInstruksi:\n1. Buat 'summary' profil profesional maksimal 3 kalimat.\n2. Ekstrak proyek di atas, perbaiki tata bahasanya agar fokus pada dampak bisnis, dan sesuaikan dengan kata kunci dari Job Description.\n3. DILARANG MENGARANG FAKTA ATAU TEKNOLOGI YANG TIDAK ADA DI REFERENSI!\n\nOutput dalam format JSON murni TANPA markdown block:\n{\n  \"summary\": \"...\",\n  \"projects\": [\n    {\n      \"title\": \"...\",\n      \"link\": \"github.com/mikeu-dev\",\n      \"bullets\": [\"...\", \"...\"]\n    }\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "generate-cv",
      "name": "Generate CV AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/var/www/html/n8n/workspaces/auto-resume-tailoring-assistant/Riki_Ruswandi_CV_Dynamic.docx"
      },
      "id": "read-docx",
      "name": "Read DOCX Template",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docx_engine:8000/render",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($('Generate CV AI').first().json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-api",
      "name": "Call DOCX API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "document": "={{ $json.data }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send CV to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1400,
        200
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "Get Embedding (Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (Search)": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "Generate CV AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CV AI": {
      "main": [
        [
          {
            "node": "Read DOCX Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DOCX Template": {
      "main": [
        [
          {
            "node": "Call DOCX API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DOCX API": {
      "main": [
        [
          {
            "node": "Send CV to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f784bc22-b062-4f36-a83a-79b8a92f0dc3"
}