workspaces/auto-resume-tailoring-assistant/core.json
{
  "name": "Auto Resume Tailoring Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_description",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-telegram",
      "name": "Extract Telegram JD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_description",
              "value": "Peluang Pekerjaan\nPerusahaan PMA Jepang yang bergerak di manufaktur terkemuka di Indonesia, sedang mencari seorang Programmer Web yang berbakat dan berdedikasi untuk bergabung dengan tim kami. Sebagai Programmer Web, Anda akan memainkan peran kunci dalam mengembangkan dan memelihara solusi web yang inovatif dan fungsional untuk mendukung kegiatan bisnis kami.\n\nTanggung Jawab Utama\nMerancang, mengembangkan, dan mengimplementasikan aplikasi web yang fungsional dan user-friendly\nMenganalisis kebutuhan bisnis dan menterjemahkannya ke dalam spesifikasi teknis\nMengembangkan dan memperbarui situs web perusahaan untuk meningkatkan pengalaman pengguna\nMengintegrasikan aplikasi web dengan sistem dan database back-end\nMelakukan pengujian, debugging, dan pemecahan masalah untuk menjamin kualitas aplikasi\nMemperbarui dan memelihara kode sumber serta dokumentasi teknis\nBerkolaborasi dengan tim desain, produksi, dan manajemen untuk menghasilkan solusi web yang optimal\n\nKualifikasi dan Pengalaman yang Dibutuhkan\nGelar Diploma atau sarjana dalam bidang Teknik Informatika, Sistem Informasi, atau disiplin ilmu terkait\nMemiliki pengalaman minimal 1 tahun sebagai Programmer Web atau posisi serupa\nMahir dalam bahasa pemrograman web seperti PHP, JavaScript, dan Pyhton\nBerpengalaman menggunakan My SQL\nMemahami konsep pengembangan perangkat lunak, arsitektur aplikasi, dan metodologi Agile\nKemampuan analitis yang kuat dan kemampuan pemecahan masalah yang baik\nMemiliki pemahaman yang baik tentang pengoptimalan kinerja dan keamanan web\nKemampuan bekerja dalam tim dan berkomunikasi yang efektif"
            }
          ]
        },
        "options": {}
      },
      "id": "set-jd",
      "name": "Setup Job Deskripsi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jd = $('Extract Telegram JD').first()?.json?.job_description || $('Setup Job Deskripsi').first()?.json?.job_description || '';\nreturn { json: { job_description: jd } };"
      },
      "id": "merge-jd",
      "name": "Save JD to Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/resume_projects",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "id": "init-qdrant",
      "name": "Init Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "/var/www/html/n8n/workspaces/auto-resume-tailoring-assistant/master_profile.json"
      },
      "id": "read-profile",
      "name": "Read Master Profile",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "operation": "splitOutItems",
        "fieldToSplitOut": "projects",
        "options": {}
      },
      "id": "split-projects",
      "name": "Split Projects",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"Title: {{ $json.title }}\\nType: {{ $json.type }}\\nKeywords: {{ ($json.keywords || []).join(', ') }}\\nStack: {{ ($json.stack || []).join(', ') }}\\nBullets: {{ ($json.base_bullets || []).join('; ') }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "ingest-embedding",
      "name": "Get Embedding (Ingest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/resume_projects/points?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": {{ $itemIndex + 1 }},\n      \"vector\": {{ JSON.stringify($json.embedding.values) }},\n      \"payload\": {\n        \"title\": \"{{ $json.title }}\",\n        \"stack\": {{ JSON.stringify($json.stack) }},\n        \"bullets\": {{ JSON.stringify($json.base_bullets) }}\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ingest-qdrant",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "limit-1",
      "name": "Limit to 1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"{{ $('Save JD to Context').first().json.job_description }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "retrieve-embedding",
      "name": "Get Embedding (Search)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/resume_projects/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding.values) }},\n  \"limit\": 3,\n  \"with_payload\": true\n}",
        "options": {}
      },
      "id": "retrieve-qdrant",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $json.result || [];\nconst context = result.map(hit => `Project: ${hit.payload.title}\\nStack: ${(hit.payload.stack||[]).join(', ')}\\nBullets:\\n- ${(hit.payload.bullets||[]).join('\\n- ')}`).join('\\n\\n---\\n\\n');\nreturn { json: { context: context || \"No projects found.\", job_description: $('Save JD to Context').first().json.job_description } };"
      },
      "id": "format-context",
      "name": "Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Tugas Anda adalah menulis ulang CV (Resume) profesional untuk disesuaikan dengan lowongan kerja (Job Description) berikut:\n\n{{ $json.job_description }}\n\nReferensi Proyek Anda yang Paling Relevan (RAG):\n{{ $json.context }}\n\nInstruksi:\n1. Buat 'summary' profil profesional maksimal 3 kalimat.\n2. Ekstrak proyek di atas, perbaiki tata bahasanya agar fokus pada dampak bisnis, dan sesuaikan dengan kata kunci dari Job Description.\n3. DILARANG MENGARANG FAKTA ATAU TEKNOLOGI YANG TIDAK ADA DI REFERENSI!\n\nOutput dalam format JSON murni TANPA markdown block:\n{\n  \"summary\": \"...\",\n  \"projects\": [\n    {\n      \"title\": \"...\",\n      \"link\": \"github.com/mikeu-dev\",\n      \"bullets\": [\"...\", \"...\"]\n    }\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "generate-cv",
      "name": "Generate CV AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/var/www/html/n8n/workspaces/auto-resume-tailoring-assistant/Riki_Ruswandi_CV_Dynamic.docx"
      },
      "id": "read-docx",
      "name": "Read DOCX Template",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docx_engine:8000/render",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($('Generate CV AI').first().json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-api",
      "name": "Call DOCX API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "document": "={{ $json.data }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send CV to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2800,
        200
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Telegram JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Setup Job Deskripsi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram JD": {
      "main": [
        [
          {
            "node": "Save JD to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Job Deskripsi": {
      "main": [
        [
          {
            "node": "Save JD to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save JD to Context": {
      "main": [
        [
          {
            "node": "Init Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Collection": {
      "main": [
        [
          {
            "node": "Read Master Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Profile": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Projects": {
      "main": [
        [
          {
            "node": "Get Embedding (Ingest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (Ingest)": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Get Embedding (Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (Search)": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "Generate CV AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CV AI": {
      "main": [
        [
          {
            "node": "Read DOCX Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DOCX Template": {
      "main": [
        [
          {
            "node": "Call DOCX API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DOCX API": {
      "main": [
        [
          {
            "node": "Send CV to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f784bc22-b062-4f36-a83a-79b8a92f0dc3"
}