workspaces/auto-resume-tailoring-assistant/ingestion_workflow.json
{
  "name": "Auto Resume - Ingestion Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-ingest",
      "name": "Ingest Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/resume_projects",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "id": "init-qdrant",
      "name": "Init Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "/var/www/html/n8n/workspaces/auto-resume-tailoring-assistant/master_profile.json"
      },
      "id": "read-profile",
      "name": "Read Master Profile",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "splitOutItems",
        "fieldToSplitOut": "projects",
        "options": {}
      },
      "id": "split-projects",
      "name": "Split Projects",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"Title: {{ $json.title }}\\nType: {{ $json.type }}\\nKeywords: {{ ($json.keywords || []).join(', ') }}\\nStack: {{ ($json.stack || []).join(', ') }}\\nBullets: {{ ($json.base_bullets || []).join('; ') }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "ingest-embedding",
      "name": "Get Embedding (Ingest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OSc9NzRZIneNTY09",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/resume_projects/points?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": {{ $itemIndex + 1 }},\n      \"vector\": {{ JSON.stringify($json.embedding.values) }},\n      \"payload\": {\n        \"title\": \"{{ $json.title }}\",\n        \"stack\": {{ JSON.stringify($json.stack) }},\n        \"bullets\": {{ JSON.stringify($json.base_bullets) }}\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ingest-qdrant",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Ingest Trigger": {
      "main": [
        [
          {
            "node": "Init Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Collection": {
      "main": [
        [
          {
            "node": "Read Master Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Profile": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Projects": {
      "main": [
        [
          {
            "node": "Get Embedding (Ingest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (Ingest)": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f784bc22-b062-4f36-a83a-79b8a92f0dc3"
}